.part__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 5vw;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.part__wrapper > h5 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 5rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  color: var(--color-grey);
}

.part__wrapper > h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--color-dark-grey);
}

.part__wrapper > div {
  margin-top: 10vh;
  width: 100%;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
  .part__wrapper > h5 {
    font-size: 1rem;
    line-height: 4rem;
  }

  .part__wrapper > h2 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .part__wrapper {
    padding: 10vh 3vw;
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
  .part__wrapper > h5 {
    font-size: 0.7rem;
    line-height: 3rem;
    letter-spacing: 0.5rem;
  }

  .part__wrapper > h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .part__wrapper > div {
    margin-top: 5vh;
  }

  .part__wrapper {
    padding: 5vh 1vw;
  }
}
