form {
  margin-bottom: 20vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
}

.options__element > label {
  font-weight: 600;
  font-size: 0.5rem;
  line-height: 0.5rem;
  letter-spacing: 0.2rem;
  color: var(--color-white-grey);
  text-transform: uppercase;
}

.form__option {
  font-weight: 500;
  font-size: 1rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  color: var(--color-grey);
}

.form__search-button {
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.3rem;
  color: var(--color-white);
  text-transform: uppercase;
  background: var(--color-dark-grey);
  border-radius: 0.5rem;
  cursor: pointer;
}

.form__search-button:hover {
  background: var(--color-grey);
}

.option__arrow {
  margin-right: 1rem;
  color: var(--color-white-grey);
}

.apartment__result-cards {
  position: relative;
  display: flex;
  width: 90vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
}

.apartment__card > img {
  width: 500px;
}

.apartment__card-description {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.apartment__card-description > header {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2rem;
}

.apartment__card-description > p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-white-grey);
}

.apartment__result-cards::after {
  position: absolute;
  z-index: -1;
  content: "";
  background: var(--color-background-grey);
  top: 10rem;
  height: 50rem;
  left: -5vw;
  width: 200%;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
  .apartment__result-cards {
    width: 100%;
    padding: 1rem;
  }
  .apartment__card > img {
    width: 350px;
  }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
  .apartment__result-cards {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 3vh;
  }
  .apartment__card > img {
    width: 100%;
  }
  .apartment__card-description > p {
    line-height: 1rem;
  }

  form {
    margin-top: 1rem;
    grid-template-columns: 1fr;
    gap: 3vw;
  }

  .form__search-button {
    height: 4rem;
  }

  .options__element > label {
    padding-left: 0.5rem;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
  }

  .apartment__result-cards::after {
    height: 80rem;
  }
}
