.activity__card-img {
  height: 60vh;
  width: 20vw;
  border-radius: 10px;
  object-fit: cover;
}

.activity__card-text {
  display: block;
  position: absolute;
  bottom: 4rem;
  left: 3rem;
  color: var(--color-white);
}

.activity__card-text > h4 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
}

.activity__card-text > p {
  color: var(--color-light-grey);
  font-size: 1rem;
}
